{% extends "layout.html" %}
{%- set active_page = "403" -%}
{%- set page_title = "403 Unauthorized" -%}
{% block content %}
<h2>403 -- you can't do that!</h2>
<div style="text-align: center">
	<p>I'm sorry, what you're trying to do is forbidden by security policy.</p>

	<img src="{{ url_for('static', filename='img/padlock.png') }}" style="height: 300px" />

	<p>Please check whether you are logged in and should have permission for this action, 
	and contact the administrator if you feel a mistake has been made.</p>
</div>
{% endblock %}
