{% extends "layout.html" %}
{%- set active_page = g.active_page|default("admin") -%}
{%- set page_title = "Admin" -%}
{% block content %}
    <h2>Articles</h2>
    <ul>
    {% for article in articles %}
        <li>
            {% if current_user.email == config.WEBMASTER_EMAIL -%}
                <a href="{{url_for('edit_article', slug=article.slug) }}">[{{article.title}}]</a><!-- whitespace, nom nom
                --><a href="{{url_for('article', slug=article.slug) }}">({{article.slug}})</a>
                <a class="redlink autohide" href="{{url_for('drop_article', slug=article.slug) }}">[X]a>
            {%- else -%}
                <b>[{{article.title}}]</b><a href="{{url_for('article', slug=article.slug) }}">({{article.slug}})</a>
            {%- endif %}
        </li>
    {% endfor %}
    </ul>
    <p><a href="{{url_for('add_article') }}">New article</a></p>
{% endblock %}
