{% extends "layout.html" %}
{%- set active_page = article.slug if article.slug else g.active_page -%}
{%- set page_title = article.title -%}
{% block content %}
    {% if article -%}
        <h2 id="title">{{article.title}}</h2>
        {{article.content|markdown}}
    {%- else -%}
        <h2 id="title">Whoops, nothing here!</h2>
        <p>Sorry, there doesn't seem to be anything here. Did I mis-link something? Please <a href="{{url_for('contact')}}">tell me</a>.</p>
    {%- endif %}
{% endblock %}
