{%- macro link_or_bold(page, url, label) %}
    {% if active_page == page %}<b>{{label}}</b>{% else %}<a href="{{url}}">{{label}}</a>{% endif %}
{% endmacro -%}
<!DOCTYPE html>
<html>
<head>
    <title>{{ '%s - ' % page_title if page_title }}Narc Dot Ro</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/page-style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/persona-buttons.css') }}">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=PT+Sans+Caption">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://login.persona.org/include.js"></script>
    <script type="text/javascript" src="{{ url_for('browserid.js') }}"></script>
    <meta name="active-page" value="{{active_page}}">
</head>
<body>
    <div id="header">
        <h1 id="top">
            {%- if active_page == 'index' -%}
                Narc Dot Ro
            {%- else -%}
                <a href="{{ url_for('article') }}">Narc Dot Ro</a>
            {%- endif -%}
        </h1>
    </div>
    <div id="column-mask">
        <div id="column-wrapper">
            <div id="content">
                {% block content -%}
                    <p>This is an empty page.</p>
                {%- endblock %}
            </div> <!-- id="content" -->
            <div id="sidebar">
                {% for cat in g.navbar %}
                    <p>{{cat.name}}</p>
                    <ul>
                        {% for i in cat.links -%}
                            <li>{{link_or_bold(i.page, i.url, i.label) }}</li>
                        {% endfor %}
                    </ul>
                {% endfor %}

                <p>Internal Stuff</p>
                <ul>
                    {%- if current_user.is_authenticated() -%}
                        <li><b>{{current_user.email}}</b></li>
                        <li><a class="persona-button dark" id="browserid-logout"><span>Logout</span></a></li>
                        <li>{{link_or_bold('admin', url_for('admin'), "Edit articles") }}</li>
                        <li>{{link_or_bold('admin/sidebar', url_for('edit_sidebar'), "Edit the sidebar") }}</li>
                        {%- if current_user.email == config.WEBMASTER_EMAIL and article -%}
                            <li>{{link_or_bold('admin/edit', url_for('edit_article', slug=article.slug), "Edit this article") }}</li>
                            <li><a href="{{url_for('drop_article', slug=article.slug) }}" class="redlink">Delete this article</a></li>
                        {%- endif -%}
                    {%- else -%}
                        <li><a class="persona-button dark" id="browserid-login"><span>Login</span></a></li>
                    {%- endif -%}
                </ul>
            </div><!-- id="sidebar" -->
        </div> <!-- id="column-wrapper" -->
    </div> <!-- id="column-mask" -->
    <div id="footer">
        {%- if g.start_time %}
            <p>In completely unrelated news, it took {{ (g.datetime.utcnow() - g.start_time).total_seconds() * 1000 }} ms to display this page (more or less).</p>
        {%- endif %}
    </div>
</body>
</html>
