{% extends "layout.html" %}
{%- set active_page = g.active_page|default("add_article") -%}
{% block content %}
    <form method="post" action="{{ url_for('add_article') }}">
    <dl>
        <dt>Title:
        <dd><input type="text" name="title">
        <dt>Slug (if empty, one will be provided):
        <dd><input type="text" name="slug">
        <dt>Content:
        <dd><textarea name="content" rows="5" cols="40"></textarea>
        <dd><input type="submit">
    </dl>
    </form>
{% endblock %}
